[submodule "include/glfw"]
	path = include/glfw
	url = https://github.com/glfw/glfw.git
[submodule "include/glad-cmake"]
	path = include/glad-cmake
	url = https://github.com/Erik-Donath/glad-cmake.git
